{% extends "base.html" %}

{% block content %}

    {% if orders|length > 0 %}
        <table>
            <tr>
                <th>Order number</th>
                <th>Localization</th>
                <th></th>
            </tr>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.lat }}, {{ order.lon }}</td>
                    <td>
                        <form action="{{ url_for('orders_history', order_id=order.id) }}" method="post">
                            <input type="submit" value="Mark as delivered">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>No orders</h3>
    {% endif %}
{% endblock %}
