<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<body>
    <header>
        <h1><a href="{{ url_for('main') }}">Shop</a></h1>

        {% if current_user.is_authenticated %}
            Hello {{ current_user.email }}. Your id is {{ current_user.id }}.
        {% endif %}
        <nav>
            <ul>
                {% if not current_user.is_authenticated %}
                    <li><a href="{{ url_for('login_form') }}">Log in</a></li>
                    <li><a href="{{ url_for('signup_form') }}">Sign up</a></li>
                {% elif current_user.is_authenticated %}
                    <li><a href="{{ url_for('place_order_form') }}">Order</a></li>
                    <li><a href="{{ url_for('orders_history') }}">Orders history</a></li>
                    <li><a href="{{ url_for('logout') }}">Log out</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
</body>
</html>
